@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #ccc;
}

.gray-bg{
  background-color: #f0f2f5;
}

.cursor-pointer{
  cursor: pointer
}